anytree
appdirs
aria2p
asyncio
attrdict
beautifulsoup4
bencoding
cfscrape==2.1.1
feedparser
flask
google_api_python_client==2.48.0
google-auth-httplib2
google_auth_oauthlib==0.5.1
gunicorn
lk21
lxml
Pillow==9.1.1
psutil==5.9.0
psycopg2-binary
pybase64
Pyrogram==2.0.24
python-dotenv==0.20.0
python_magic==0.4.25
python-telegram-bot
qbittorrent-api
requests==2.25.1
six
telegraph==2.1.0
tenacity
tgCrypto
urllib3
